[Desktop Entry]
Version=1.0
Type=Application
Name=FrameExtractor
GenericName=Video Frame Extractor
Comment=Effortless video frame extraction
Exec=FrameExtractor
Icon=xyz.nokarin.FrameExtractor
Categories=Video;AudioVideo;
Terminal=false
StartupWMClass=FrameExtractor
Keywords=video;frames;ffmpeg;extract;youtube;