[Desktop Entry]
Version=1.0
Type=Application
Name=FrameExtractor
GenericName=Video Frame Extractor
Comment=Effortless video frame extraction
Exec=frameextractor
Icon=com.nokarin.FrameExtractor
Categories=Video;AudioVideo;
Terminal=false
StartupWMClass=frameextractor
Keywords=video;frames;ffmpeg;extract;youtube;